* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Helvetica', 'Arial', sans-serif;
}

html {
  height: 100%;
  font-size: 10px;
}

body {
  height: 100%;
  font-size: 1.6rem;
}
