* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Helvetica", "Arial", sans-serif;
}

html {
  height: 100%;
  font-size: 10px;
}

body {
  height: 100%;
  font-size: 1.6rem;
}

.btn {
  display: inline-block;
  margin-top: 2rem;
  padding: 0.5rem 1rem;
  border: none;
  background-color: #24a0ed;
  color: white;
  font-size: 1.2em;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.btn:link {
  text-decoration: none;
}

.btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.btn:not(:disabled):hover {
  background-color: #1183ca;
}
